body{
    font-family: 'DecoTech', sans-serif;
}

#bg-image{
    position: fixed;
    width: 100%;
}

.nav{
    position: sticky;
    background-color: transparent;
    box-shadow: 2px 2px 9px;
    display: flex;
    align-items: center;
    transition: all ease-in-out 0.7s;
    z-index: 3;
}


#logo{    
    position: absolute;
    font-size: 26px;
    margin-top: -22px;
    
}

#nav-header{
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-left: 100px;
   
}

i{
    padding: 15px;
    color: black;
}

.nav-animation{
    animation:navbar 1s;
}

@keyframes navbar{
    from{
        height: 0px;
    }

    to{
        height: 90px;
    }

}

.animation-nav{
    animation:navbar-nav 1s;
}

@keyframes navbar-nav{
    from{
        height: 0px;
    }

    to{
        height: 90px;
    }

}

#card{
    position: relative;
    width: 90%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 90px;
    padding: 20px;
    z-index: 2;
    background: transparent;
    border-radius: 0;
    border: 1px solid black;
    box-shadow: 1px 1px 10px;
}

#card-title{
    width: 300px;
    font-size: 95px;
    text-transform: uppercase;
    text-align: center;
}

#card-p{
    font-size: 25px;
}

.sec{
    position: relative;
    background-color: white;
    width: 100%;
    height: 550px;
    margin-top: 100px;
}

.about{
    position: absolute;
    left: 0;
    margin-left: 100px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
   
    
}

#about-header{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin-top: 20px;
}

#about-p{
    letter-spacing: 0.15em;
    font-size: 30px;
    width:550px;
}

.form{
    position: absolute; 
    width: 400px;
    height: 420px;
    padding-top: 30px;
    margin-top: 100px;
    right: 120px;
    border: 1px solid black;
    overflow: auto;
}

#form-header{
    font-size: 35px;
    text-align: center;
}

#email{
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    width: 350px;
    height: 40px;
    margin: 20px;
    margin-top: 20px;
    padding: 10px;
    letter-spacing: 0.1em;
}

#name{
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    width: 350px;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    letter-spacing: 0.1em;
}

#name:focus{
    outline: none;
}

#message{
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    width: 350px;
    height: 100px;
    margin-left: 20px;
    padding: 10px;
    letter-spacing: 0.1em;
}

#message:focus{
    outline: none;
}

#submit{
    width: 150px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: black;
    font-size: 20px;
    transition: all ease-in-out .4s;
    margin-left: 120px;
    margin-top: 40px;
}

#submit:hover{
    background:black;
    color: white;
}

#form-success{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    background-color:#d1e7dd;
    color:#0f5132;
    border-color: #badbcc;
    border-radius: 5px;
    width: 260px;
    height:70px;
    font-size: 20px;
    margin: auto;
    margin-bottom: 20px;
}

#success-btn{
    position: absolute;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    margin-top: -70px;
    margin-right: 5px;
    background-color:#d1e7dd;
    color:#0f5132;
}